fastapi
uvicorn[standard]
sqlalchemy
geoalchemy2
psycopg2-binary
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
email-validator
shapely
ruff
black
pytest
httpx
pre-commit
